<h1>Editing user</h1>

<%= turbo_frame_tag dom_id(@user) do %>
  <div class= "user user-body">
    <%= render "form", user: @user %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
