<div class="py-16 px-4 md:px-6 2xl:px-0 flex justify-center items-center 2xl:mx-auto 2xl:container">
  <div class="flex flex-wrap justify-start items-start space-y-9">
    <div>
      <span class="text-md px-6 py-2 rounded-md bg-gray-500 text-indigo-50 font-semibold cursor-pointer hover:bg-green-500">
        <%= link_to "New contact", new_user_contact_path, data: { turbo: false }  %>
      </span>
    </div>
    <div>
      <%= turbo_stream_from "contacts" %>
      <%= turbo_frame_tag "contacts", class: "flex flex-wrap place-content-start gap-x-3 gap-y-3" do %>
        <% render @contacts.where(:user_id => params['user_id']) %>
      <% end %>
    </div>
  </div>
</div>

